{% extends "base.html" %}
{% block title %}old book - 商品{% endblock %}

{% block content %}
<div class="row clearfix">
	<div class="col-md-12 column">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">
					<div class="left"><span>商品名：</span>{{ post.title }}</div>
					<div class="right">
						<span>发布者：</span>
						<a class="aa" href="{% url 'yonghu:profile' post.user.id %}">
							<img class="post-head" src="{{post.user.profile.head_cut.url}}">
						</a>
							{{ post.user.profile.nickname }}
					</div>
					<div class="row clearfix">
				</h3>
			</div>
			<div class="panel-body bg-post">
				<span><font color="blue" size="4">商品描述：</font></span><br>{{ post.body }}<br>
			</div>
			<div class="panel-body bg-post">
				{% if post.photo1 %}
				<img class="img-rounded post-img" src="{{ post.photo1.url }}">
				{% endif %}
				{% if post.photo2 %}
				<img class="img-rounded post-img" src="{{ post.photo2.url }}">
				{% endif %}
				<br><br>
				<p>原价：￥{{post.origin_price}}</p>
				<p>售价：￥{{post.price}}</p>
				<a href="{% url 'buy:add_to_buycar' post.id %}"><button class="btn btn-warning btn-mini">加入购物车</button></a>
				<a href="#"><button class="btn btn-danger btn-mini">立即购买</button></a>
			</div>
			<div class="panel-footer" >
				<div class="clearfix">
					<div class="pull-left">
						<span class="glyphicon glyphicon-eye-open"></span> 浏览量：{{post.view_times}}
					</div>
					<div class="pull-right">
						发布时间：{{post.pub_date}}
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">
					商谈
				</h3>
			</div>
			<div class="panel-body">
				{% if username %}
				<div class="content-form">
					<form action="." method="POST">
						{% csrf_token %}
					<!-- <input type="text" placeholder="Name" required/>
					<input type="text" placeholder="E-mail" required/>
					<input type="text" placeholder="Phone" required/>
					<textarea placeholder="Message"></textarea> -->
						{{ comment_form.as_table }}
						<input type="submit" value="提交"/>
					</form>
				</div>
				{% endif %}
			</div>
			<div class="panel-footer">
				<ul class="pagination">
					{% if not is_first_page %}
					<li><a href="?page=1">Top</a></li>
					<li><a href="?page={{prev_page}}">Prev</a></li>
					{% endif %}
					<li><a href="#">{{page}}</a></li>
					{% if not is_last_page %}
					<li><a href="?page={{next_page}}">Next</a></li>
					<li><a href="?page={{total_page}}">end</a></li>
					{% endif %}
				</ul>
				{% for comment in comments %}
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">
							<div class="left">
								<a class="aa" href="{% url 'yonghu:profile' post.user.id %}">
									<img class="post-head" src="{{comment.user.profile.head_cut.url}}">
								</a>
									{{ comment.user.profile.nickname }}
							</div>
							<div class="right">{{ comment.pub_date }}</div>
							<div class="row clearfix">
						</h3>
					</div>
					<div class="panel-body bg-post">
						{{ comment.body }}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}