{% extends "base.html" %}
{% block title %}old book - 用户订单{% endblock %}

{% block content %}
<div class="row clearfix">
	<div class="col-md-12 column">
		{% for order in order_list %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					买家：<font color="blue">{{order.order.buyer}}</font>&nbsp;&nbsp;&nbsp;
					
				</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>
								卖家
							</th>
							<th>
								商品
							</th>
							<th>
								价格
							</th>
							<th>
								状态
							</th>
							<th>
							</th>
						</tr>
					</thead>
					<tbody>
						{% for item in order.items %}
						<tr>
							<td>
								{{item.seller}}
							</td>
							<td>
								{{item.post.title}}
							</td>
							<td>
								{{item.price}}
							</td>
							<td>
								{% if item.status == 0 %}
									已提交
								{% elif item.status == 1 %}
									已确认
								{% elif item.status == 2 %}
									已发货
									<a href="{% url 'buy:item_receive' item.id %}"><button class="btn">确认收货</button></a>
								{% elif item.status == 3 %}
									已完成
								{% else %}
									None
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="panel-footer">
				<p>收货地址：<font color="blue">{{order.order.address}}</font></p>
				<p>总价：<font color="blue">{{order.order.total}}</font></p>
				<p>下单时间：<font color="blue">{{order.order.generate_date}}</font></p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<div class="row clearfix">
	<div class="col-md-12 column">
		{% for item in items %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					商品名：{{item.post.title}}
				</h3>
			</div>
			<div class="panel-body">
				<p>订单号：{{item.order.id}}</p>
				<p>买家：{{item.order.buyer}}</p>
				<p>价格：{{item.price}}</p>
				<p>
					状态：
					{% if item.status == 0 %}
						已提交
					{% elif item.status == 1 %}
						已确认
					{% elif item.status == 2 %}
						已发货
					{% elif item.status == 3 %}
						已完成
					{% else %}
						None
					{% endif %}
				</p>
				{% if item.status == 0 %}
					<a href="{% url 'buy:item_confirm' item.id %}"><button class="btn">确认订单</button></a>
				{% elif item.status == 1 %}
					<a href="{% url 'buy:item_send' item.id %}"><button class="btn">已经发货</button></a>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
